.vscode/*
artifacts/*
cache/*
docs/*
extensions/*
gitlab-ci/*
meta/*
playbooks/*
plugins/*
roles/*
website-template/*
.ansible-lint-ignore
.cz.yaml
.gitignore
.gitlab*
.gitmodules
.nfc_automation.yaml
*.md
galaxy.yml
LICENSE
mkdocs.yml
